/* fill in styling here */
/*
* Class to center the calculator vertically and horizontally.
*/
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 300px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/*
* Class to format result text.
*/
.result-text {
    font-size: medium;
    font-weight: bold;
}


input[type="text"]{
    width: 75%;
    height: 25px;
    border-radius: 8px;
}

/*
* Class to affect radio buttons.
* bold when selected, etc.
*/
input[type="radio"]{
    margin: 10px 5px 10px 15px;
}

input[type="radio"]:checked+label{
    font-weight: bold;
}


button[type="submit"] {
    font-size: 12pt;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 8px;
    background-color: #88a9fc;
}

button[type="reset"] {
    font-size: 12pt;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 8px;
    background-color: #a0a2a8;
}

#firstNumberLabel {
    font-weight: bold;
}

#secondNumberLabel {
    font-weight: bold;
}

#result-text {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

